<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID"
         version="2.5">

    <display-name>commercial</display-name>
    <description>
        sample commerce site
    </description>

    <filter>
        <filter-name>appFilter</filter-name>
        <filter-class>org.curtis.filter.AppFilter</filter-class>
    </filter>
    <filter>
        <filter-name>databaseFilter</filter-name>
        <filter-class>org.curtis.filter.DatabaseFilter</filter-class>
    </filter>
    <filter>
        <filter-name>sessionFilter</filter-name>
        <filter-class>org.curtis.filter.SessionFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>appFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>databaseFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>sessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>AppServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AppServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>
